* {
  font-family: Helvetica, sans-serif;
  --padding: 5px;
}

.button-simple {
  padding: 5px;
  background-color: white;
  border-radius: 6px;
  border-width: 0;
  border-style: none;
}

.button-simple:hover {
  background-color: rgb(222, 222, 222);
}

.button-simple:active {
  background-color: rgb(198, 198, 198);
}

.active {
  background-color: rgb(222, 222, 222);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.searchsort {
  display: flex;
  padding: 5px 0px 5px 0px;
}

.searchbar {
  border-color: black;
  border-radius: 3px;
  border-width: 1px;
  width: 100%;
}

.saved-styles {
  overflow-y: auto;
  max-height: 200px;
}

body {
  padding: 5px;
  width: 220px;
}